$navbar: #3D3149;
$h2: $navbar;
$table_head: #FFD075;

body
{
  padding-top: 0px;
}

.navbar-inner
{
  background-color: $navbar;
  border-radius: 0;
}
div#sidebar
{
}

.brand a
{
  float: left;
}

div#main
{
  padding: 10px;
}

div#main h2
{
  background-color: $h2;
  color: white;
  margin: 0 0 0 0;
}

div#main table
{
  margin-top: 0;
  margin-bottom: 20px;
}

/* Header of each table */
div#main tr:first-child
{
  background-color: $table_head;
  color: white;
}

div#main tr:nth-child(2n+2)
{
  background-color: lighten($table_head, 20%);
}

div#sidebar
{
  padding: 10px;
}

table#sources
{
  border: 1px black;
}

table#sources th, table#sources td,
table#jobs th, table#jobs td,
table#daemons th, table#daemons td
{
  padding-left: 3px;
  padding-right: 3px;
  text-align: left;
  height: 25px;
}

.stretch
{
  width: 99%;
}

.nowrap
{
  white-space: nowrap;
}

#flash
{
  display: none;
}

