<body>
  <html>
    <script> getServerInfo(); </script>
    <div class='container-fluid'>
      <div class='navbar'>
        <div class='navbar-inner'>
          <a class='brand' href='#'>Music Server</a>
        </div>
      </div>
      <div class='row-fluid'>

        <div class='span8' id='main'>
          <h2>Sources</h2>
          <table id='sources'>
            <tr>
              <th>Name</th>
              <th>Last Updated</th>
            </tr>
            <% @sources.each do |source| %>
              <tr>
                <td><%= source.location %></td>
                <td><%= source.last_scanned_at  || 'never' %></td>
              </tr>
            <% end %>
          </table>

          <h2>Jobs</h2>
          <table id='jobs'>
            <!-- filled by updateJobs -->
          </table>
        </div>

        <div class='span4' id='sidebar'>
          <!-- data filled by updateServerStats -->
        </div>

      </div>
    </div>
  </html>
</body>
