<body>
  <html>
    <script> getServerInfo(); </script>
    <div class='container-fluid'>
      <div class='navbar'>
        <div class='navbar-inner'>
          <a class='brand' href='#'>Music Server</a>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span8' id='main'>
          <div class='alert' id='flash'>
          </div>
          <h2>Sources</h2>
          <table id='sources'>
            <!-- filled by updateSources -->
          </table>

          <h2>Jobs</h2>
          <table id='jobs'>
            <!-- filled by updateJobs -->
          </table>

          <% AppConfig.reload %>
          <% if AppConfig[:debug] %>
            <h2>Daemons</h2>
            <table id='daemons'>
              <!-- filled by updateDaemons -->
            </table>
          <% end %>
        </div>

        <div class='span4' id='sidebar'>
          <!-- data filled by updateServerStats -->
        </div>

      </div>
    </div>
  </html>
</body>
